In [3]:
import pandas as pd
import numpy as np

### 01. DataLoad

In [5]:
selloutData = pd.read_csv("../Python_Fintech/Python_ST_EX/dataset/kopo_channel_seasonality_new.csv")

In [6]:
selloutData.head()

  REGIONID    PRODUCT  YEARWEEK      QTY
0      A60   PRODUCT4    201402     71.0
1      A60  PRODUCT59    201402  22275.0
2      A60  PRODUCT34    201402   4463.0
3      A60  PRODUCT47    201402      0.0
4      A60  PRODUCT56    201402     23.0

In [7]:
#음수는 반품으로 처리된다. 즉 판매되지 않은 것. #0보다 작으면 0이고 아닐때는 유지해줌.
selloutData["NEW_QTY"] = np.where(selloutData["QTY"] < 0,0,selloutData["QTY"])

In [8]:
#바뀌었는지 확인 
selloutData[selloutData.QTY < 0]

       REGIONID    PRODUCT  YEARWEEK    QTY  NEW_QTY
65          A02  PRODUCT16    201403   -1.0      0.0
338         A08  PRODUCT36    201402   -1.0      0.0
1270        A14  PRODUCT36    201405   -1.0      0.0
1616        A17  PRODUCT60    201402   -1.0      0.0
2035        A39   PRODUCT7    201404  -12.0      0.0
2378        A39   PRODUCT7    201402   -1.0      0.0
2880        A39   PRODUCT7    201405   -5.0      0.0
2997        A18  PRODUCT36    201403   -1.0      0.0
4483        A13  PRODUCT15    201406   -2.0      0.0
4865        A23   PRODUCT1    201405   -1.0      0.0
4971        A13  PRODUCT15    201408   -1.0      0.0
5274        A13  PRODUCT15    201410   -1.0      0.0
5362        A13  PRODUCT15    201407   -1.0      0.0
5628        A16  PRODUCT68    201407   -1.0      0.0
5801        A01  PRODUCT60    201409   -2.0      0.0
5940        A11  PRODUCT56    201407   -1.0      0.0
6048        A60  PRODUCT47    201407   -1.0      0.0
6224        A45  PRODUCT47    201407   -1.0      0.0
6479        A14  PRODUCT36    201409   -1.0      0.0
6597        A56  PRODUCT14    201409   -1.0      0.0
7277        A60   PRODUCT1    201408   -1.0      0.0
7553        A13  PRODUCT15    201411   -1.0      0.0
7956        A51  PRODUCT47    201411   -1.0      0.0
8961        A13  PRODUCT15    201413   -1.0      0.0
9357        A05  PRODUCT17    201413   -1.0      0.0
10444       A60  PRODUCT47    201414   -1.0      0.0
11772       A01   PRODUCT6    201416   -1.0      0.0
11786       A01  PRODUCT60    201416   -1.0      0.0
11852       A16  PRODUCT68    201416   -1.0      0.0
11903       A10  PRODUCT61    201415   -1.0      0.0
...         ...        ...       ...    ...      ...
116838      A01   PRODUCT6    201611 -364.0      0.0
116852      A01  PRODUCT60    201611   -1.0      0.0
117303      A02  PRODUCT60    201614   -1.0      0.0
117319      A48  PRODUCT61    201616   -1.0      0.0
117854      A32  PRODUCT14    201616   -2.0      0.0
118367      A39  PRODUCT66    201640   -1.0      0.0
118368      A39  PRODUCT37    201640   -1.0      0.0
118369      A39  PRODUCT50    201640   -1.0      0.0
118815      A08  PRODUCT15    201613   -1.0      0.0
118884      A62  PRODUCT56    201615  -13.0      0.0
119360      A02  PRODUCT60    201637   -1.0      0.0
119696      A18  PRODUCT15    201639   -2.0      0.0
120075      A14  PRODUCT40    201544   -1.0      0.0
120132      A17  PRODUCT60    201544   -1.0      0.0
120836      A13   PRODUCT5    201602   -1.0      0.0
120995      A03   PRODUCT6    201643  -24.0      0.0
121775      A59  PRODUCT47    201633   -1.0      0.0
122190      A02  PRODUCT60    201633   -1.0      0.0
122233      A16  PRODUCT68    201635   -1.0      0.0
122285      A09  PRODUCT61    201635   -1.0      0.0
122504      A02  PRODUCT60    201632   -1.0      0.0
123294      A13   PRODUCT5    201631   -2.0      0.0
123632      A32  PRODUCT14    201629   -2.0      0.0
123639      A13   PRODUCT5    201628   -2.0      0.0
123665      A39  PRODUCT76    201628  -13.0      0.0
123677      A39  PRODUCT25    201628   -1.0      0.0
123957      A39  PRODUCT50    201627   -1.0      0.0
123970      A39  PRODUCT25    201627   -1.0      0.0
124148      A13   PRODUCT5    201648   -6.0      0.0
124532      A32  PRODUCT14    201627   -2.0      0.0

[323 rows x 5 columns]

#### 53주차 제거.

In [9]:
#원래 함수타입 통합 해주는데, 연산을 많이 할 것 같으면 통합 안해줘도 된다. 
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
NEW_QTY     float64
dtype: object

In [10]:
#week를 연산에 많이 쓸 땐 굳이 스트링으로 안바꾸고 써도된다. 
#week의 값에서 즉 201901이라고 했을 때 100으로 나누면 2019.01이니까 그것만 추출.
selloutData["WEEK"] = selloutData["YEARWEEK"]%100

#### 함수화시켜준다.

In [11]:
def customFunction(inputColumn):
    ##inputColumn = 201601
    yearValue = inputColumn/100
    yearValue = int(yearValue)
    return yearValue

In [12]:
#(함수이름) 방법1. apply빼면 일반적인 연산처럼 할 수 있다. 
selloutData["YEAR"] = selloutData["YEARWEEK"].apply(customFunction) #apply가 없을 때 그냥 연산하듯 사용

In [13]:
selloutData.head(1)

  REGIONID   PRODUCT  YEARWEEK   QTY  NEW_QTY  WEEK  YEAR
0      A60  PRODUCT4    201402  71.0     71.0     2  2014

In [14]:
#int로 캐스팅하겠다. 방법2 astype은 데이터프레임 함수.
#selloutData["TEST"]= (selloutData["YEARWEEK"]/100).astype(int)

In [ ]:
#라운드 함수로 쓰고싶은데 꼭 소수점이 나오니까 이런걸 함수로 만들면 된다. 방법3
#round(2016.1)

In [ ]:
#인트로 나머지를 다 없애준다 (앞 YEAR부분만 추출)
int(201623/100)
#나머지만 추출한다 (WEEK부분만)
201623%100

In [15]:
#53주차보다 작은것만 담아준다. 
refinedData = selloutData[selloutData.WEEK < 53]

In [ ]:
#refinedData = selloutData[selloutData.WEEK % 100 <= 53]

In [16]:
refinedData.head()

  REGIONID    PRODUCT  YEARWEEK      QTY  NEW_QTY  WEEK  YEAR
0      A60   PRODUCT4    201402     71.0     71.0     2  2014
1      A60  PRODUCT59    201402  22275.0  22275.0     2  2014
2      A60  PRODUCT34    201402   4463.0   4463.0     2  2014
3      A60  PRODUCT47    201402      0.0      0.0     2  2014
4      A60  PRODUCT56    201402     23.0     23.0     2  2014

### 데이터정렬 (인덱스확인)

In [17]:
sortKey = ["REGIONID","PRODUCT","YEARWEEK"]

In [18]:
sortedData = refinedData.sort_values(sortKey)

In [19]:
sortedData.head()

     REGIONID    PRODUCT  YEARWEEK    QTY  NEW_QTY  WEEK  YEAR
298       A00  PRODUCT34    201401  661.0    661.0     1  2014
1757      A00  PRODUCT34    201402  679.0    679.0     2  2014
3125      A00  PRODUCT34    201403  578.0    578.0     3  2014
205       A00  PRODUCT34    201404  532.0    532.0     4  2014
4369      A00  PRODUCT34    201405  516.0    516.0     5  2014

In [20]:
step1Data = sortedData.reset_index(drop = True) ## 기존에 있는 인덱스를 다 버리고 다시 정렬하겠다.
step2Data = sortedData.reset_index(drop = False)  ## 다시 정렬할 건데 전에 쓰던 인덱스도 필요하다.

In [21]:
step1Data.head()

  REGIONID    PRODUCT  YEARWEEK    QTY  NEW_QTY  WEEK  YEAR
0      A00  PRODUCT34    201401  661.0    661.0     1  2014
1      A00  PRODUCT34    201402  679.0    679.0     2  2014
2      A00  PRODUCT34    201403  578.0    578.0     3  2014
3      A00  PRODUCT34    201404  532.0    532.0     4  2014
4      A00  PRODUCT34    201405  516.0    516.0     5  2014

In [22]:
#앞index차이
step2Data.head()

   index REGIONID    PRODUCT  YEARWEEK    QTY  NEW_QTY  WEEK  YEAR
0    298      A00  PRODUCT34    201401  661.0    661.0     1  2014
1   1757      A00  PRODUCT34    201402  679.0    679.0     2  2014
2   3125      A00  PRODUCT34    201403  578.0    578.0     3  2014
3    205      A00  PRODUCT34    201404  532.0    532.0     4  2014
4   4369      A00  PRODUCT34    201405  516.0    516.0     5  2014

### 1. 기본 이동평균 함수 (rolling함수)- 롤링함수를 쓰기전에 정렬 꼭 해야함

In [23]:
#window = 15 : 15개씩 이동평균을 내겠다. / min_periods= 1 : 데이터가 하나라도 존재하면 평균을 내겠다.

In [24]:
## center = True => 나를 중심으로 날개를 펴는거고 
## center = False => 내가 맨 마지막으로 가는 것 (default값)

In [25]:
#center를 false로 하면 내위로 14개가 생기기 전까지는 nan값이 나온다.

In [23]:
#min_periods= 1 를 안써주면 내 위에 7개가 nan이기 때문에 총 14개의 nan 값이 생긴다 .
step1Data["MA"] = step1Data.NEW_QTY.rolling(window = 15, center = True).mean()
step1Data.head()

  REGIONID    PRODUCT  YEARWEEK    QTY  NEW_QTY  WEEK  YEAR  MA
0      A00  PRODUCT34    201401  661.0    661.0     1  2014 NaN
1      A00  PRODUCT34    201402  679.0    679.0     2  2014 NaN
2      A00  PRODUCT34    201403  578.0    578.0     3  2014 NaN
3      A00  PRODUCT34    201404  532.0    532.0     4  2014 NaN
4      A00  PRODUCT34    201405  516.0    516.0     5  2014 NaN

In [24]:
step1Data["MA"] = step1Data.NEW_QTY.rolling(window = 15, center = True, min_periods= 1).mean()

In [25]:
step1Data.head()

  REGIONID    PRODUCT  YEARWEEK    QTY  NEW_QTY  WEEK  YEAR          MA
0      A00  PRODUCT34    201401  661.0    661.0     1  2014  520.000000
1      A00  PRODUCT34    201402  679.0    679.0     2  2014  514.444444
2      A00  PRODUCT34    201403  578.0    578.0     3  2014  516.800000
3      A00  PRODUCT34    201404  532.0    532.0     4  2014  503.363636
4      A00  PRODUCT34    201405  516.0    516.0     5  2014  490.750000

#### 저장하기

In [ ]:
step1Data.to_csv("./result2.csv") #내현재경로에 result라는 이름으로 저장 index(false)하면

#### 그룹화하기 - 지역, 상품, 연도별로 groupby로 정렬해서 "NEW_QTY" 이동평균을 구한다.

In [190]:
#1. 필터
#filteredData = [(step1Data.REGIONID == "A00") & (step1Data.PRODUCT == "PRODUCT34")]

In [26]:
#2. 그룹키설정
groupKey = ["REGIONID","PRODUCT","YEAR"]

In [27]:
#3. A00의 프로덕트 14년도에는 평균적으로 X 물량이 나온다. 
groupData = step1Data.groupby(groupKey)[["NEW_QTY"]].mean()

In [28]:
groupData.head()

                            NEW_QTY
REGIONID PRODUCT   YEAR
A00      PRODUCT34 2014  275.961538
                   2015   86.634615
                   2016   36.576923
         PRODUCT58 2014    2.673077
                   2015    5.711538

In [ ]:
#조인, 수정 할려면 그룹핑풀어야되니까 리셋인덱스.

In [29]:
groupDataResult=groupData.reset_index()

In [30]:
#컬럼헤더 재정의
groupDataResult.columns = ["REGIONID","PRODUCT","YEAR","GROUP"]

In [31]:
groupDataResult.head()

  REGIONID    PRODUCT  YEAR       GROUP
0      A00  PRODUCT34  2014  275.961538
1      A00  PRODUCT34  2015   86.634615
2      A00  PRODUCT34  2016   36.576923
3      A00  PRODUCT58  2014    2.673077
4      A00  PRODUCT58  2015    5.711538

### 데이터합치기(속성)(merge)

In [1]:
#regionid, product,yearweek를 그룹데이터 옆에 붙히기 how 확인하기 !!

In [32]:
#[[]] 부분에서 내가 원하는 컬럼순서대로 바꿀 수 있다. 아예 안써도 문제 없음. 
mergeResult = pd.merge(groupDataResult,step1Data,\
                      left_on = ("REGIONID","PRODUCT","YEAR"),right_on = ("REGIONID","PRODUCT","YEAR"))\
[["REGIONID", "PRODUCT","YEARWEEK","QTY","NEW_QTY","YEAR", "GROUP","WEEK","MA"]]
mergeResult.head()

,REGIONID,PRODUCT,YEARWEEK,QTY,NEW_QTY,YEAR,GROUP,WEEK,MA
0,A00,PRODUCT34,201401,661.0,661.0,2014,275.961538,1,520.000000
1,A00,PRODUCT34,201402,679.0,679.0,2014,275.961538,2,514.444444
2,A00,PRODUCT34,201403,578.0,578.0,2014,275.961538,3,516.800000
3,A00,PRODUCT34,201404,532.0,532.0,2014,275.961538,4,503.363636
4,A00,PRODUCT34,201405,516.0,516.0,2014,275.961538,5,490.750000

In [33]:
mergeResult.to_csv("./result5.csv")

In [41]:
pwd

'C:\\Users\\SMART-04\\Python_Fintech'

In [42]:
#groupby 를 한 상태에서 rolling 을 하겠다. 
groupKey= ["REGIONID","PRODUCT"]

In [43]:
mergeResult.groupby(groupKey)

### 그룹바이함수만들기 확인

In [44]:
#펼치려는 로직이 다른 카테고리에 영향을 주어 제대로된 추세선을 못그림.

In [45]:
#groupDataSet = mergeResult.groupby(groupKey)

In [35]:
def groupRolling(oneGroup):
    #len(list(groupDataSet.groups))
    #oneGroup = groupDataSet.get_group(list(groupDataSet.groups)[2])
    
    indexGroupData = oneGroup.reset_index(drop=True)
    indexGroupData["MA2"] = indexGroupData["NEW_QTY"].rolling(window = 5,center=True).mean()
    
    return indexGroupData

In [36]:
finalResult = mergeResult.groupby(groupKey).apply(groupRolling)

In [37]:
finalResult.head()

                          REGIONID    PRODUCT  YEARWEEK    QTY  NEW_QTY  YEAR  \
REGIONID PRODUCT   YEAR
A00      PRODUCT34 2014 0      A00  PRODUCT34    201401  661.0    661.0  2014
                        1      A00  PRODUCT34    201402  679.0    679.0  2014
                        2      A00  PRODUCT34    201403  578.0    578.0  2014
                        3      A00  PRODUCT34    201404  532.0    532.0  2014
                        4      A00  PRODUCT34    201405  516.0    516.0  2014

                                GROUP  WEEK          MA    MA2
REGIONID PRODUCT   YEAR
A00      PRODUCT34 2014 0  275.961538     1  520.000000    NaN
                        1  275.961538     2  514.444444    NaN
                        2  275.961538     3  516.800000  593.2
                        3  275.961538     4  503.363636  545.6
                        4  275.961538     5  490.750000  491.2

In [58]:
finalResult.to_csv("./finalResult.csv")

#### reset_index 안썼을때 차이점 -최근4주차 이동평균 구해서 붙히기

In [40]:
def groupFunction(eachGroup):
    eachGroup["MA3"] = eachGroup["NEW_QTY"].rolling(window=5,center=True).mean()
    return eachGroup

In [41]:
mergeResult.groupby(groupKey).apply(groupFunction)

,REGIONID,PRODUCT,YEARWEEK,QTY,NEW_QTY,YEAR,GROUP,WEEK,MA,MA3
0,A00,PRODUCT34,201401,661.0,661.0,2014,275.961538,1,520.000000,NaN
1,A00,PRODUCT34,201402,679.0,679.0,2014,275.961538,2,514.444444,NaN
2,A00,PRODUCT34,201403,578.0,578.0,2014,275.961538,3,516.800000,593.2
3,A00,PRODUCT34,201404,532.0,532.0,2014,275.961538,4,503.363636,545.6
4,A00,PRODUCT34,201405,516.0,516.0,2014,275.961538,5,490.750000,491.2
5,A00,PRODUCT34,201406,423.0,423.0,2014,275.961538,6,480.230769,448.4
6,A00,PRODUCT34,201407,407.0,407.0,2014,275.961538,7,468.214286,436.0
7,A00,PRODUCT34,201408,364.0,364.0,2014,275.961538,8,456.666667,440.4
8,A00,PRODUCT34,201409,470.0,470.0,2014,275.961538,9,431.533333,429.6
9,A00,PRODUCT34,201410,538.0,538.0,2014,275.961538,10,402.066667,418.6
10,A00,PRODUCT34,201411,369.0,369.0,2014,275.961538,11,375.533333,416.6
11,A00,PRODUCT34,201412,352.0,352.0,2014,275.961538,12,350.800000,385.0
12,A00,PRODUCT34,201413,354.0,354.0,2014,275.961538,13,325.733333,336.4
13,A00,PRODUCT34,201414,312.0,312.0,2014,275.961538,14,305.266667,319.4
14,A00,PRODUCT34,201415,295.0,295.0,2014,275.961538,15,284.666667,296.4
15,A00,PRODUCT34,201416,284.0,284.0,2014,275.961538,16,265.933333,261.6
16,A00,PRODUCT34,201417,237.0,237.0,2014,275.961538,17,239.333333,231.4
17,A00,PRODUCT34,201418,180.0,180.0,2014,275.961538,18,207.800000,200.4
18,A00,PRODUCT34,201419,161.0,161.0,2014,275.961538,19,187.200000,166.8
19,A00,PRODUCT34,201420,140.0,140.0,2014,275.961538,20,169.200000,139.0
20,A00,PRODUCT34,201421,116.0,116.0,2014,275.961538,21,155.666667,119.6
21,A00,PRODUCT34,201422,98.0,98.0,2014,275.961538,22,153.133333,101.6
22,A00,PRODUCT34,201423,83.0,83.0,2014,275.961538,23,168.933333,86.6
23,A00,PRODUCT34,201424,71.0,71.0,2014,275.961538,24,179.933333,75.4
24,A00,PRODUCT34,201425,65.0,65.0,2014,275.961538,25,193.000000,72.2
25,A00,PRODUCT34,201426,60.0,60.0,2014,275.961538,26,205.266667,85.8
26,A00,PRODUCT34,201427,82.0,82.0,2014,275.961538,27,217.600000,126.4
27,A00,PRODUCT34,201428,151.0,151.0,2014,275.961538,28,229.066667,219.8
28,A00,PRODUCT34,201429,274.0,274.0,2014,275.961538,29,237.600000,297.6
29,A00,PRODUCT34,201430,532.0,532.0,2014,275.961538,30,246.200000,367.8
...,...,...,...,...,...,...,...,...,...,...
123834,A77,PRODUCT12,201623,5348.0,5348.0,2016,4837.153846,23,4159.933333,4277.4
123835,A77,PRODUCT12,201624,3275.0,3275.0,2016,4837.153846,24,4272.333333,4496.6
123836,A77,PRODUCT12,201625,4158.0,4158.0,2016,4837.153846,25,4435.133333,4119.6
123837,A77,PRODUCT12,201626,4815.0,4815.0,2016,4837.153846,26,4530.533333,3713.8
123838,A77,PRODUCT12,201627,3002.0,3002.0,2016,4837.153846,27,4518.466667,3898.8
123839,A77,PRODUCT12,201628,3319.0,3319.0,2016,4837.153846,28,4527.000000,4491.2
123840,A77,PRODUCT12,201629,4200.0,4200.0,2016,4837.153846,29,4528.533333,4797.2
123841,A77,PRODUCT12,201630,7120.0,7120.0,2016,4837.153846,30,4402.866667,5369.4
123842,A77,PRODUCT12,201631,6345.0,6345.0,2016,4837.153846,31,4418.533333,5547.8
123843,A77,PRODUCT12,201632,5863.0,5863.0,2016,4837.153846,32,5182.466667,5511.6
123844,A77,PRODUCT12,201633,4211.0,4211.0,2016,4837.153846,33,5145.466667,4812.4
123845,A77,PRODUCT12,201634,4019.0,4019.0,2016,4837.153846,34,5091.800000,4291.8
123846,A77,PRODUCT12,201635,3624.0,3624.0,2016,4837.153846,35,5177.800000,3719.6
123847,A77,PRODUCT12,201636,3742.0,3742.0,2016,4837.153846,36,5340.533333,3994.0
123848,A77,PRODUCT12,201637,3002.0,3002.0,2016,4837.153846,37,5334.466667,6137.0
123849,A77,PRODUCT12,201638,5583.0,5583.0,2016,4837.153846,38,5160.200000,6132.8
123850,A77,PRODUCT12,201639,14734.0,14734.0,2016,4837.153846,39,5020.866667,6186.4
123851,A77,PRODUCT12,201640,3603.0,3603.0,2016,4837.153846,40,4868.266667,6444.4
123852,A77,PRODUCT12,201641,4010.0,4010.0,2016,4837.153846,41,4864.333333,6479.8
123853,A77,PRODUCT12,201642,4292.0,4292.0,2016,4837.153846,42,4935.466667,4354.8
123854,A77,PRODUCT12,201643,5760.0,5760.0,2016,4837.153846,43,5083.600000,4535.4
123855,A77,PRODUCT12,201644,4109.0,4109.0,2016,4837.153846,44,5163.000000,4584.4
123856,A77,PRODUCT12,201645,4506.0,4506.0,2016,4837.153846,45,5466.266667,4440.8
123857,A77,PRODUCT12,201646,4255.0,4255.0,2016,4837.153846,46,5457.928571,4119.2
123858,A77,PRODUCT12,201647,3574.0,3574.0,2016,4837.153846,47,4744.384615,4314.6
123859,A77,PRODUCT12,201648,4152.0,4152.0,2016,4837.153846,48,4839.500000,4582.6
123860,A77,PRODUCT12,201649,5086.0,5086.0,2016,4837.153846,49,4914.909091,4718.2
123861,A77,PRODUCT12,201650,5846.0,5846.0,2016,4837.153846,50,4977.200000,5513.6
123862,A77,PRODUCT12,201651,4933.0,4933.0,2016,4837.153846,51,4890.222222,NaN
123863,A77,PRODUCT12,201652,7551.0,7551.0,2016,4837.153846,52,4987.875000,NaN

## 함수 디버깅 (연습)

In [ ]:
# 롤링함수는 각지역별 함수별로 펼쳐야한다.

In [ ]:
#총 794개의 데이터가 있는데 
len(list(groupDataSet.groups))

In [ ]:
#그 중 그룹하나를 가지고 그룹화를 하겠다. 모든 그룹을 리스트로 만들고 그룹데이터의 0번째 데이터를 가져오겠다. 0번째 함수에 대해서만 롤링을 펼치겠다 .
oneGroup = groupDataSet.get_group(list(groupDataSet.groups)[0])

In [ ]:
oneGroup.head()

In [ ]:
scdGroup = groupDataSet.get_group(list(groupDataSet.groups)[0])

In [ ]:
step1Data["MA2"] = scdGroup.NEW_QTY.rolling(window = 15, center = True, min_periods= 1).mean()

In [ ]:
step1Data.head()

In [ ]:
#컬럼삭제 
#del step1Data["MA2"]

### 데이터합치기 기준 확인

In [ ]:
#step1을 기준으로 regionid로

In [56]:
step1Data.head()

  REGIONID    PRODUCT  YEARWEEK    QTY  NEW_QTY  WEEK  YEAR          MA
0      A00  PRODUCT34    201401  661.0    661.0     1  2014  520.000000
1      A00  PRODUCT34    201402  679.0    679.0     2  2014  514.444444
2      A00  PRODUCT34    201403  578.0    578.0     3  2014  516.800000
3      A00  PRODUCT34    201404  532.0    532.0     4  2014  503.363636
4      A00  PRODUCT34    201405  516.0    516.0     5  2014  490.750000
5      A00  PRODUCT34    201406  423.0    423.0     6  2014  480.230769
6      A00  PRODUCT34    201407  407.0    407.0     7  2014  468.214286
7      A00  PRODUCT34    201408  364.0    364.0     8  2014  456.666667
8      A00  PRODUCT34    201409  470.0    470.0     9  2014  431.533333
9      A00  PRODUCT34    201410  538.0    538.0    10  2014  402.066667

In [57]:
groupDataResult.head()

  REGIONID    PRODUCT  YEAR         GROUP
0      A00  PRODUCT34  2014    275.961538
1      A00  PRODUCT34  2015     86.634615
2      A00  PRODUCT34  2016     36.576923
3      A00  PRODUCT58  2014      2.673077
4      A00  PRODUCT58  2015      5.711538
5      A00  PRODUCT58  2016    307.365385
6      A00  PRODUCT59  2014  27418.692308
7      A00  PRODUCT59  2015  52240.846154
8      A00  PRODUCT59  2016  28213.173077
9      A01   PRODUCT1  2014   8622.461538

In [46]:
leftData = step1Data

In [54]:
#컬럼이 동일한 경우 left,right on을 따로 안써주어도 된다.
#컬럼명은 다르되 내용이 완전히 같으면 left, right에 컬럼명을 기재해준다. 
#how default값 = inner
#데이터를 합칠 때는 항상 한줄에 하나씩만 나오게 키를 설정해야한다. 같은 정보가 중복 되지 않도록. 

MGD = pd.merge(leftData,groupDataResult,how = "left",on="REGIONID")

In [55]:
MGD.head(20)

,REGIONID,PRODUCT_x,YEARWEEK,QTY,NEW_QTY,WEEK,YEAR_x,MA,PRODUCT_y,YEAR_y,GROUP
0,A00,PRODUCT34,201401,661.0,661.0,1,2014,520.000000,PRODUCT34,2014,275.961538
1,A00,PRODUCT34,201401,661.0,661.0,1,2014,520.000000,PRODUCT34,2015,86.634615
2,A00,PRODUCT34,201401,661.0,661.0,1,2014,520.000000,PRODUCT34,2016,36.576923
3,A00,PRODUCT34,201401,661.0,661.0,1,2014,520.000000,PRODUCT58,2014,2.673077
4,A00,PRODUCT34,201401,661.0,661.0,1,2014,520.000000,PRODUCT58,2015,5.711538
5,A00,PRODUCT34,201401,661.0,661.0,1,2014,520.000000,PRODUCT58,2016,307.365385
6,A00,PRODUCT34,201401,661.0,661.0,1,2014,520.000000,PRODUCT59,2014,27418.692308
7,A00,PRODUCT34,201401,661.0,661.0,1,2014,520.000000,PRODUCT59,2015,52240.846154
8,A00,PRODUCT34,201401,661.0,661.0,1,2014,520.000000,PRODUCT59,2016,28213.173077
9,A00,PRODUCT34,201402,679.0,679.0,2,2014,514.444444,PRODUCT34,2014,275.961538
10,A00,PRODUCT34,201402,679.0,679.0,2,2014,514.444444,PRODUCT34,2015,86.634615
11,A00,PRODUCT34,201402,679.0,679.0,2,2014,514.444444,PRODUCT34,2016,36.576923
12,A00,PRODUCT34,201402,679.0,679.0,2,2014,514.444444,PRODUCT58,2014,2.673077
13,A00,PRODUCT34,201402,679.0,679.0,2,2014,514.444444,PRODUCT58,2015,5.711538
14,A00,PRODUCT34,201402,679.0,679.0,2,2014,514.444444,PRODUCT58,2016,307.365385
15,A00,PRODUCT34,201402,679.0,679.0,2,2014,514.444444,PRODUCT59,2014,27418.692308
16,A00,PRODUCT34,201402,679.0,679.0,2,2014,514.444444,PRODUCT59,2015,52240.846154
17,A00,PRODUCT34,201402,679.0,679.0,2,2014,514.444444,PRODUCT59,2016,28213.173077
18,A00,PRODUCT34,201403,578.0,578.0,3,2014,516.800000,PRODUCT34,2014,275.961538
19,A00,PRODUCT34,201403,578.0,578.0,3,2014,516.800000,PRODUCT34,2015,86.634615

In [212]:
len(leftData)

123864

In [213]:
#중복되는 값도 붙기때문에 데이터양이 많아진다. 
len(MGD)

5894928

In [214]:
joinKey = ["REGIONID","PRODUCT"]

In [215]:
PRD = pd.merge(leftData,groupDataResult,how = "left",on= joinKey)

In [216]:
len(PRD)

371592

## concat 위아래로 데이터 붙히기

In [ ]:
#axis = 0 -> 위아래로 1은 옆으로

In [67]:
fullData = pd.read_csv("../Python_Fintech/Python_ST_EX/dataset/kopo_channel_seasonality_new.csv")

In [69]:
a01Data = fullData[fullData.REGIONID =="A01"]
len(a01Data)

3611

In [68]:
a20Data = fullData[fullData.REGIONID =="A20"]
len(a20Data)

471

In [75]:
resultConcat = pd.concat([a01Data,a20Data],axis = 0)

In [76]:
len(resultConcat)

4082

### 최근 4주차 평균데이터  - 미완성

In [110]:
def groupAve(four):
    four["MA5"] = four["NEW_QTY"].rolling(window=5,center=True,min_periods=1).mean()
    return four

In [111]:
mergeResult2016 = mergeResult[mergeResult.YEAR == 2016]

In [112]:
mergeResult2016

,REGIONID,PRODUCT,YEARWEEK,QTY,NEW_QTY,YEAR,GROUP,WEEK,MA
104,A00,PRODUCT34,201601,21.0,21.0,2016,36.576923,1,63.466667
105,A00,PRODUCT34,201602,22.0,22.0,2016,36.576923,2,59.800000
106,A00,PRODUCT34,201603,23.0,23.0,2016,36.576923,3,58.266667
107,A00,PRODUCT34,201604,28.0,28.0,2016,36.576923,4,57.066667
108,A00,PRODUCT34,201605,19.0,19.0,2016,36.576923,5,54.600000
109,A00,PRODUCT34,201606,25.0,25.0,2016,36.576923,6,52.133333
110,A00,PRODUCT34,201607,24.0,24.0,2016,36.576923,7,50.000000
111,A00,PRODUCT34,201608,14.0,14.0,2016,36.576923,8,18.400000
112,A00,PRODUCT34,201609,9.0,9.0,2016,36.576923,9,17.533333
113,A00,PRODUCT34,201610,31.0,31.0,2016,36.576923,10,16.333333
114,A00,PRODUCT34,201611,22.0,22.0,2016,36.576923,11,15.466667
115,A00,PRODUCT34,201612,8.0,8.0,2016,36.576923,12,14.000000
116,A00,PRODUCT34,201613,12.0,12.0,2016,36.576923,13,13.266667
117,A00,PRODUCT34,201614,13.0,13.0,2016,36.576923,14,12.000000
118,A00,PRODUCT34,201615,5.0,5.0,2016,36.576923,15,10.666667
119,A00,PRODUCT34,201616,8.0,8.0,2016,36.576923,16,10.200000
120,A00,PRODUCT34,201617,4.0,4.0,2016,36.576923,17,10.066667
121,A00,PRODUCT34,201618,10.0,10.0,2016,36.576923,18,8.333333
122,A00,PRODUCT34,201619,6.0,6.0,2016,36.576923,19,7.333333
123,A00,PRODUCT34,201620,8.0,8.0,2016,36.576923,20,7.000000
124,A00,PRODUCT34,201621,6.0,6.0,2016,36.576923,21,7.466667
125,A00,PRODUCT34,201622,4.0,4.0,2016,36.576923,22,34.533333
126,A00,PRODUCT34,201623,7.0,7.0,2016,36.576923,23,34.600000
127,A00,PRODUCT34,201624,7.0,7.0,2016,36.576923,24,34.533333
128,A00,PRODUCT34,201625,5.0,5.0,2016,36.576923,25,39.733333
129,A00,PRODUCT34,201626,7.0,7.0,2016,36.576923,26,39.200000
130,A00,PRODUCT34,201627,3.0,3.0,2016,36.576923,27,39.333333
131,A00,PRODUCT34,201628,19.0,19.0,2016,36.576923,28,39.066667
132,A00,PRODUCT34,201629,419.0,419.0,2016,36.576923,29,38.800000
133,A00,PRODUCT34,201630,6.0,6.0,2016,36.576923,30,38.866667
...,...,...,...,...,...,...,...,...,...
123834,A77,PRODUCT12,201623,5348.0,5348.0,2016,4837.153846,23,4159.933333
123835,A77,PRODUCT12,201624,3275.0,3275.0,2016,4837.153846,24,4272.333333
123836,A77,PRODUCT12,201625,4158.0,4158.0,2016,4837.153846,25,4435.133333
123837,A77,PRODUCT12,201626,4815.0,4815.0,2016,4837.153846,26,4530.533333
123838,A77,PRODUCT12,201627,3002.0,3002.0,2016,4837.153846,27,4518.466667
123839,A77,PRODUCT12,201628,3319.0,3319.0,2016,4837.153846,28,4527.000000
123840,A77,PRODUCT12,201629,4200.0,4200.0,2016,4837.153846,29,4528.533333
123841,A77,PRODUCT12,201630,7120.0,7120.0,2016,4837.153846,30,4402.866667
123842,A77,PRODUCT12,201631,6345.0,6345.0,2016,4837.153846,31,4418.533333
123843,A77,PRODUCT12,201632,5863.0,5863.0,2016,4837.153846,32,5182.466667
123844,A77,PRODUCT12,201633,4211.0,4211.0,2016,4837.153846,33,5145.466667
123845,A77,PRODUCT12,201634,4019.0,4019.0,2016,4837.153846,34,5091.800000
123846,A77,PRODUCT12,201635,3624.0,3624.0,2016,4837.153846,35,5177.800000
123847,A77,PRODUCT12,201636,3742.0,3742.0,2016,4837.153846,36,5340.533333
123848,A77,PRODUCT12,201637,3002.0,3002.0,2016,4837.153846,37,5334.466667
123849,A77,PRODUCT12,201638,5583.0,5583.0,2016,4837.153846,38,5160.200000
123850,A77,PRODUCT12,201639,14734.0,14734.0,2016,4837.153846,39,5020.866667
123851,A77,PRODUCT12,201640,3603.0,3603.0,2016,4837.153846,40,4868.266667
123852,A77,PRODUCT12,201641,4010.0,4010.0,2016,4837.153846,41,4864.333333
123853,A77,PRODUCT12,201642,4292.0,4292.0,2016,4837.153846,42,4935.466667
123854,A77,PRODUCT12,201643,5760.0,5760.0,2016,4837.153846,43,5083.600000
123855,A77,PRODUCT12,201644,4109.0,4109.0,2016,4837.153846,44,5163.000000
123856,A77,PRODUCT12,201645,4506.0,4506.0,2016,4837.153846,45,5466.266667
123857,A77,PRODUCT12,201646,4255.0,4255.0,2016,4837.153846,46,5457.928571
123858,A77,PRODUCT12,201647,3574.0,3574.0,2016,4837.153846,47,4744.384615
123859,A77,PRODUCT12,201648,4152.0,4152.0,2016,4837.153846,48,4839.500000
123860,A77,PRODUCT12,201649,5086.0,5086.0,2016,4837.153846,49,4914.909091
123861,A77,PRODUCT12,201650,5846.0,5846.0,2016,4837.153846,50,4977.200000
123862,A77,PRODUCT12,201651,4933.0,4933.0,2016,4837.153846,51,4890.222222
123863,A77,PRODUCT12,201652,7551.0,7551.0,2016,4837.153846,52,4987.875000

In [114]:
groupKey = ["REGIONID","PRODUCT"]

In [148]:
def groupAvg(oneGroup):
    #groupSet = mergeResult2016.groupby(groupKey)

    #oneGroup = groupSet.get_group(list(groupSet.groups)[0])

    average = 100
    oneGroup["week4avg"] = average
    return oneGroup

In [149]:
four4=mergeResult2016.groupby(groupKey).apply(groupAvg)

In [150]:
four4

,REGIONID,PRODUCT,YEARWEEK,QTY,NEW_QTY,YEAR,GROUP,WEEK,MA,week4avg
104,A00,PRODUCT34,201601,21.0,21.0,2016,36.576923,1,63.466667,100
105,A00,PRODUCT34,201602,22.0,22.0,2016,36.576923,2,59.800000,100
106,A00,PRODUCT34,201603,23.0,23.0,2016,36.576923,3,58.266667,100
107,A00,PRODUCT34,201604,28.0,28.0,2016,36.576923,4,57.066667,100
108,A00,PRODUCT34,201605,19.0,19.0,2016,36.576923,5,54.600000,100
109,A00,PRODUCT34,201606,25.0,25.0,2016,36.576923,6,52.133333,100
110,A00,PRODUCT34,201607,24.0,24.0,2016,36.576923,7,50.000000,100
111,A00,PRODUCT34,201608,14.0,14.0,2016,36.576923,8,18.400000,100
112,A00,PRODUCT34,201609,9.0,9.0,2016,36.576923,9,17.533333,100
113,A00,PRODUCT34,201610,31.0,31.0,2016,36.576923,10,16.333333,100
114,A00,PRODUCT34,201611,22.0,22.0,2016,36.576923,11,15.466667,100
115,A00,PRODUCT34,201612,8.0,8.0,2016,36.576923,12,14.000000,100
116,A00,PRODUCT34,201613,12.0,12.0,2016,36.576923,13,13.266667,100
117,A00,PRODUCT34,201614,13.0,13.0,2016,36.576923,14,12.000000,100
118,A00,PRODUCT34,201615,5.0,5.0,2016,36.576923,15,10.666667,100
119,A00,PRODUCT34,201616,8.0,8.0,2016,36.576923,16,10.200000,100
120,A00,PRODUCT34,201617,4.0,4.0,2016,36.576923,17,10.066667,100
121,A00,PRODUCT34,201618,10.0,10.0,2016,36.576923,18,8.333333,100
122,A00,PRODUCT34,201619,6.0,6.0,2016,36.576923,19,7.333333,100
123,A00,PRODUCT34,201620,8.0,8.0,2016,36.576923,20,7.000000,100
124,A00,PRODUCT34,201621,6.0,6.0,2016,36.576923,21,7.466667,100
125,A00,PRODUCT34,201622,4.0,4.0,2016,36.576923,22,34.533333,100
126,A00,PRODUCT34,201623,7.0,7.0,2016,36.576923,23,34.600000,100
127,A00,PRODUCT34,201624,7.0,7.0,2016,36.576923,24,34.533333,100
128,A00,PRODUCT34,201625,5.0,5.0,2016,36.576923,25,39.733333,100
129,A00,PRODUCT34,201626,7.0,7.0,2016,36.576923,26,39.200000,100
130,A00,PRODUCT34,201627,3.0,3.0,2016,36.576923,27,39.333333,100
131,A00,PRODUCT34,201628,19.0,19.0,2016,36.576923,28,39.066667,100
132,A00,PRODUCT34,201629,419.0,419.0,2016,36.576923,29,38.800000,100
133,A00,PRODUCT34,201630,6.0,6.0,2016,36.576923,30,38.866667,100
...,...,...,...,...,...,...,...,...,...,...
123834,A77,PRODUCT12,201623,5348.0,5348.0,2016,4837.153846,23,4159.933333,100
123835,A77,PRODUCT12,201624,3275.0,3275.0,2016,4837.153846,24,4272.333333,100
123836,A77,PRODUCT12,201625,4158.0,4158.0,2016,4837.153846,25,4435.133333,100
123837,A77,PRODUCT12,201626,4815.0,4815.0,2016,4837.153846,26,4530.533333,100
123838,A77,PRODUCT12,201627,3002.0,3002.0,2016,4837.153846,27,4518.466667,100
123839,A77,PRODUCT12,201628,3319.0,3319.0,2016,4837.153846,28,4527.000000,100
123840,A77,PRODUCT12,201629,4200.0,4200.0,2016,4837.153846,29,4528.533333,100
123841,A77,PRODUCT12,201630,7120.0,7120.0,2016,4837.153846,30,4402.866667,100
123842,A77,PRODUCT12,201631,6345.0,6345.0,2016,4837.153846,31,4418.533333,100
123843,A77,PRODUCT12,201632,5863.0,5863.0,2016,4837.153846,32,5182.466667,100
123844,A77,PRODUCT12,201633,4211.0,4211.0,2016,4837.153846,33,5145.466667,100
123845,A77,PRODUCT12,201634,4019.0,4019.0,2016,4837.153846,34,5091.800000,100
123846,A77,PRODUCT12,201635,3624.0,3624.0,2016,4837.153846,35,5177.800000,100
123847,A77,PRODUCT12,201636,3742.0,3742.0,2016,4837.153846,36,5340.533333,100
123848,A77,PRODUCT12,201637,3002.0,3002.0,2016,4837.153846,37,5334.466667,100
123849,A77,PRODUCT12,201638,5583.0,5583.0,2016,4837.153846,38,5160.200000,100
123850,A77,PRODUCT12,201639,14734.0,14734.0,2016,4837.153846,39,5020.866667,100
123851,A77,PRODUCT12,201640,3603.0,3603.0,2016,4837.153846,40,4868.266667,100
123852,A77,PRODUCT12,201641,4010.0,4010.0,2016,4837.153846,41,4864.333333,100
123853,A77,PRODUCT12,201642,4292.0,4292.0,2016,4837.153846,42,4935.466667,100
123854,A77,PRODUCT12,201643,5760.0,5760.0,2016,4837.153846,43,5083.600000,100
123855,A77,PRODUCT12,201644,4109.0,4109.0,2016,4837.153846,44,5163.000000,100
123856,A77,PRODUCT12,201645,4506.0,4506.0,2016,4837.153846,45,5466.266667,100
123857,A77,PRODUCT12,201646,4255.0,4255.0,2016,4837.153846,46,5457.928571,100
123858,A77,PRODUCT12,201647,3574.0,3574.0,2016,4837.153846,47,4744.384615,100
123859,A77,PRODUCT12,201648,4152.0,4152.0,2016,4837.153846,48,4839.500000,100
123860,A77,PRODUCT12,201649,5086.0,5086.0,2016,4837.153846,49,4914.909091,100
123861,A77,PRODUCT12,201650,5846.0,5846.0,2016,4837.153846,50,4977.200000,100
123862,A77,PRODUCT12,201651,4933.0,4933.0,2016,4837.153846,51,4890.222222,100
123863,A77,PRODUCT12,201652,7551.0,7551.0,2016,4837.153846,52,4987.875000,100

In [142]:
def abc(oneGroup):
    #groupSet = mergeResult2016.groupby(groupKey)

    #oneGroup = groupSet.get_group(list(groupSet.groups)[0])

    oneGroup["MA5"] = oneGroup["NEW_QTY"].rolling(window=5, center=True).mean()
    return oneGroup

In [144]:
four4=mergeResult2016.groupby(groupKey).apply(abc)

In [145]:
four4.head()

,REGIONID,PRODUCT,YEARWEEK,QTY,NEW_QTY,YEAR,GROUP,WEEK,MA,MA5
104,A00,PRODUCT34,201601,21.0,21.0,2016,36.576923,1,63.466667,NaN
105,A00,PRODUCT34,201602,22.0,22.0,2016,36.576923,2,59.800000,NaN
106,A00,PRODUCT34,201603,23.0,23.0,2016,36.576923,3,58.266667,22.6
107,A00,PRODUCT34,201604,28.0,28.0,2016,36.576923,4,57.066667,23.4
108,A00,PRODUCT34,201605,19.0,19.0,2016,36.576923,5,54.600000,23.8

In [126]:
len(list(four4.groups))
four1 = four4.get_group(list(four4.groups)[0])

AttributeError: 'DataFrame' object has no attribute 'groups'