## 기말고사

### 1번문제

In [2]:
#  엔진,데이터 프레임,DB커넥션 ,스크래핑 import
import pandas as pd
# import pymysql
from sqlalchemy import create_engine
import requests, bs4, pandas as pd, numpy as np

In [2]:
# 불러오기 mysql
#DB정보 
LoadEngine = create_engine('mysql+pymysql://root:P@ssw0rd@192.168.110.112:3306/kopo')
# 테이블정보 
KOPO_PRODUCT_VOLUME = pd.read_sql_query('select * from KOPO_PRODUCT_VOLUME',LoadEngine)

In [3]:
KOPO_PRODUCT_VOLUME

    REGIONID PRODUCTGROUP YEARWEEK     VOLUME
0        A01       ST0002   201512   151750.0
1        A01       ST0001   201520   645626.0
2        A01       ST0002   201520   125863.0
3        A01       ST0001   201515   810144.0
4        A01       ST0002   201515   128999.0
5        A01       ST0001   201518   671464.0
6        A01       ST0002   201518   134467.0
7        A01       ST0001   201513   470040.0
8        A01       ST0002   201513   140297.0
9        A01       ST0001   201511   524787.0
10       A01       ST0002   201511   145509.0
11       A01       ST0001   201516   764927.0
12       A01       ST0002   201516   140313.0
13       A01       ST0001   201519   682757.0
14       A01       ST0002   201519   128668.0
15       A01       ST0001   201514   428195.0
16       A01       ST0002   201514   137488.0
17       A01       ST0001   201512   486509.0
18       A01       ST0001   201517   697502.0
19       A01       ST0002   201517   127163.0
20       A01       ST0001   201507   620392.0
21       A01       ST0002   201507   146476.0
22       A01       ST0001   201510   511679.0
23       A01       ST0002   201510   153152.0
24       A01       ST0001   201502   438251.0
25       A01       ST0002   201502   123875.0
26       A01       ST0001   201505   482381.0
27       A01       ST0002   201505   180516.0
28       A01       ST0001   201508   571781.0
29       A01       ST0002   201508   156772.0
..       ...          ...      ...        ...
129      A01       ST0002   201619   152980.0
130      A01       ST0001   201624   772706.0
131      A01       ST0002   201624   171592.0
132      A01       ST0001   201622   817878.0
133      A01       ST0002   201622   214929.0
134      A01       ST0001   201620   695859.0
135      A01       ST0002   201620   160913.0
136      A01       ST0001   201618   712672.0
137      A01       ST0002   201618   162560.0
138      A01       ST0001   201625   786218.0
139      A01       ST0002   201625   157283.0
140      A01       ST0001   201612   794413.0
141      A01       ST0002   201612   132780.0
142      A01       ST0001   201610  1218194.0
143      A01       ST0002   201610   142575.0
144      A01       ST0001   201617   694920.0
145      A01       ST0002   201617   142279.0
146      A01       ST0001   201615   678467.0
147      A01       ST0002   201615   143180.0
148      A01       ST0001   201613   886427.0
149      A01       ST0002   201613   135788.0
150      A01       ST0001   201611  1011581.0
151      A01       ST0002   201611   150915.0
152      A01       ST0001   201609   635412.0
153      A01       ST0001   201616   658270.0
154      A01       ST0002   201616   137927.0
155      A01       ST0002   201609   154149.0
156      A01       ST0001   201614   739977.0
157      A01       ST0002   201614   148835.0
158      A01       ST0001   201641   746061.0

[159 rows x 4 columns]

In [5]:
#오라클 저장 

#DB 정보 입력
SaveEngine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl')

# 저장
resultname = 'KOPO_PY_성한빈_FINAL1'

KOPO_PRODUCT_VOLUME.to_sql(resultname,SaveEngine,if_exists='replace',index=False)

### --------------------------------------------------------------------------------------------------

### 2번 문제

In [36]:
#DB 정보 입력
SaveEngine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl')

# 테이블 정보 입력  및 조건 2016년도만 남기기
KOPO_PRODUCT_VOLUME = pd.read_sql_query("select Regionid,productgroup,yearweek,cast(substr(yearweek,1,4)as varchar(7))as year,volume from KOPO_PRODUCT_VOLUME where cast(substr(yearweek,1,4)as varchar(7)) = '2016'",SaveEngine)

In [9]:
KOPO_PRODUCT_VOLUME

   regionid productgroup yearweek  year     volume
0       A01       ST0001   201605  2016   661049.0
1       A01       ST0002   201605  2016   231214.0
2       A01       ST0001   201603  2016   531372.0
3       A01       ST0002   201603  2016   152763.0
4       A01       ST0001   201601  2016   651243.0
5       A01       ST0002   201601  2016   162801.0
6       A01       ST0001   201608  2016   671116.0
7       A01       ST0002   201608  2016   130000.0
8       A01       ST0001   201606  2016   881536.0
9       A01       ST0002   201606  2016   172230.0
10      A01       ST0001   201604  2016   585025.0
11      A01       ST0002   201604  2016   197057.0
12      A01       ST0001   201602  2016   573198.0
13      A01       ST0002   201602  2016   137186.0
14      A01       ST0001   201607  2016   790430.0
15      A01       ST0002   201607  2016   161324.0
16      A01       ST0001   201623  2016   768124.0
17      A01       ST0002   201623  2016   161983.0
18      A01       ST0001   201621  2016   721991.0
19      A01       ST0002   201621  2016   205984.0
20      A01       ST0001   201626  2016   871247.0
21      A01       ST0002   201626  2016   196489.0
22      A01       ST0001   201619  2016   693402.0
23      A01       ST0002   201619  2016   152980.0
24      A01       ST0001   201624  2016   772706.0
25      A01       ST0002   201624  2016   171592.0
26      A01       ST0001   201622  2016   817878.0
27      A01       ST0002   201622  2016   214929.0
28      A01       ST0001   201620  2016   695859.0
29      A01       ST0002   201620  2016   160913.0
30      A01       ST0001   201618  2016   712672.0
31      A01       ST0002   201618  2016   162560.0
32      A01       ST0001   201625  2016   786218.0
33      A01       ST0002   201625  2016   157283.0
34      A01       ST0001   201612  2016   794413.0
35      A01       ST0002   201612  2016   132780.0
36      A01       ST0001   201610  2016  1218194.0
37      A01       ST0002   201610  2016   142575.0
38      A01       ST0001   201617  2016   694920.0
39      A01       ST0002   201617  2016   142279.0
40      A01       ST0001   201615  2016   678467.0
41      A01       ST0002   201615  2016   143180.0
42      A01       ST0001   201613  2016   886427.0
43      A01       ST0002   201613  2016   135788.0
44      A01       ST0001   201611  2016  1011581.0
45      A01       ST0002   201611  2016   150915.0
46      A01       ST0001   201609  2016   635412.0
47      A01       ST0001   201616  2016   658270.0
48      A01       ST0002   201616  2016   137927.0
49      A01       ST0002   201609  2016   154149.0
50      A01       ST0001   201614  2016   739977.0
51      A01       ST0002   201614  2016   148835.0
52      A01       ST0001   201641  2016   746061.0

In [14]:
# week 컬럼 제거 
KOPO_PRODUCT_VOLUME1 = KOPO_PRODUCT_VOLUME.iloc[:,[0,1,2,4]]

In [15]:
KOPO_PRODUCT_VOLUME1

   regionid productgroup yearweek     volume
0       A01       ST0001   201605   661049.0
1       A01       ST0002   201605   231214.0
2       A01       ST0001   201603   531372.0
3       A01       ST0002   201603   152763.0
4       A01       ST0001   201601   651243.0
5       A01       ST0002   201601   162801.0
6       A01       ST0001   201608   671116.0
7       A01       ST0002   201608   130000.0
8       A01       ST0001   201606   881536.0
9       A01       ST0002   201606   172230.0
10      A01       ST0001   201604   585025.0
11      A01       ST0002   201604   197057.0
12      A01       ST0001   201602   573198.0
13      A01       ST0002   201602   137186.0
14      A01       ST0001   201607   790430.0
15      A01       ST0002   201607   161324.0
16      A01       ST0001   201623   768124.0
17      A01       ST0002   201623   161983.0
18      A01       ST0001   201621   721991.0
19      A01       ST0002   201621   205984.0
20      A01       ST0001   201626   871247.0
21      A01       ST0002   201626   196489.0
22      A01       ST0001   201619   693402.0
23      A01       ST0002   201619   152980.0
24      A01       ST0001   201624   772706.0
25      A01       ST0002   201624   171592.0
26      A01       ST0001   201622   817878.0
27      A01       ST0002   201622   214929.0
28      A01       ST0001   201620   695859.0
29      A01       ST0002   201620   160913.0
30      A01       ST0001   201618   712672.0
31      A01       ST0002   201618   162560.0
32      A01       ST0001   201625   786218.0
33      A01       ST0002   201625   157283.0
34      A01       ST0001   201612   794413.0
35      A01       ST0002   201612   132780.0
36      A01       ST0001   201610  1218194.0
37      A01       ST0002   201610   142575.0
38      A01       ST0001   201617   694920.0
39      A01       ST0002   201617   142279.0
40      A01       ST0001   201615   678467.0
41      A01       ST0002   201615   143180.0
42      A01       ST0001   201613   886427.0
43      A01       ST0002   201613   135788.0
44      A01       ST0001   201611  1011581.0
45      A01       ST0002   201611   150915.0
46      A01       ST0001   201609   635412.0
47      A01       ST0001   201616   658270.0
48      A01       ST0002   201616   137927.0
49      A01       ST0002   201609   154149.0
50      A01       ST0001   201614   739977.0
51      A01       ST0002   201614   148835.0
52      A01       ST0001   201641   746061.0

In [16]:
resultname1 = 'KOPO_PY_성한빈_FINAL2'


KOPO_PRODUCT_VOLUME1.to_sql(resultname1,SaveEngine,if_exists='replace',index=False)

### ----------------------------------------------------------------------------------------------------

## 3번문제

In [31]:
## url 변수 담기 
resp = requests.get('https://www.timeanddate.com/holidays/south-korea/')

resp.encoding='utf-8'
html = resp.text
bs = bs4.BeautifulSoup(html,'html.parser') 

# html 부분구조 가져오기
columns=bs.select('thead > tr.head > th.sep')
columns

columnlist=[]
# for each 사용하여  columnlist 에 어펜드 후  데이터 프레임 으로 변환
for column in columns:
    columnlist.append(column.text)

contents=bs.select('tbody > tr')
dfcontent=[]
alldfcontents=[]
for content in contents:
    tds=content.findAll("td")
    for td in tds:
        if(td.text=="None"):
            continue;
        dfcontent.append(td.text)
    alldfcontents.append(dfcontent)
    dfcontent=[]
df=pd.DataFrame(columns=columnlist, data=alldfcontents)

In [32]:
df

      Weekday                   Holiday Name      Holiday Type
0      Monday                 New Year's Day  National holiday
1      Friday     2018 Winter Olympics start        Observance
2   Wednesday                Valentine's Day        Observance
3    Thursday                Seollal Holiday  National holiday
4      Friday                        Seollal  National holiday
5    Saturday                Seollal Holiday  National holiday
6      Sunday       2018 Winter Olympics end        Observance
7    Thursday      Independence Movement Day  National holiday
8      Friday  2018 Winter Paralympics start        Observance
9      Sunday    2018 Winter Paralympics end        Observance
10    Tuesday                  March equinox            Season
11   Thursday                      Arbor Day        Observance
12    Tuesday                      Labor Day      Bank Holiday
13   Saturday                 Children's Day  National holiday
14     Monday        Children's Day observed  National holiday
15    Tuesday                   Parents' Day        Observance
16    Tuesday                  Teacher's Day        Observance
17    Tuesday              Buddha's Birthday  National holiday
18  Wednesday                   Memorial Day  National holiday
19  Wednesday             Local Election Day  National holiday
20   Thursday                  June Solstice            Season
21    Tuesday               Constitution Day        Observance
22  Wednesday                 Liberation Day  National holiday
23     Sunday              September equinox            Season
24     Sunday                Chuseok Holiday  National holiday
25     Monday                        Chuseok  National holiday
26    Tuesday                Chuseok Holiday  National holiday
27  Wednesday                Chuseok Holiday  National holiday
28     Monday               Armed Forces Day        Observance
29  Wednesday        National Foundation Day  National holiday
30    Tuesday       Hangeul Proclamation Day  National holiday
31  Wednesday                      Halloween        Observance
32     Friday              December Solstice            Season
33     Monday                  Christmas Eve        Observance
34    Tuesday                  Christmas Day  National holiday
35     Monday                 New Year's Eve        Observance

In [8]:
resultname = 'KOPO_PY_성한빈_FINAL3'

df.to_sql(resultname,SaveEngine,if_exists='replace',index=False)

In [2]:
## url 변수 담기 
resp = requests.get('https://www.timeanddate.com/holidays/south-korea/')

resp.encoding='utf-8'
html = resp.text
bs = bs4.BeautifulSoup(html,'html.parser') 

# html 부분구조 가져오기
columns=bs.select_one('table > thead > tr')
columns

columnlist=[]
for column in columns:
    columnlist.append(column.text)

In [24]:
## url 변수 담기 
resp = requests.get('https://www.timeanddate.com/holidays/south-korea/')

resp.encoding='utf-8'
html = resp.text
bs = bs4.BeautifulSoup(html,'html.parser') 

# html 부분구조 가져오기
columns=bs.select('tbody > tr > th.nw')
columns

columnlist=[]

In [27]:
for column in columns:
    columnlist.append(column.text)
df3=pd.DataFrame(data=columnlist)

In [29]:
df3.columns = ["date"]

In [30]:
df3

      date
0    Jan 1
1    Feb 9
2   Feb 14
3   Feb 15
4   Feb 16
5   Feb 17
6   Feb 25
7    Mar 1
8    Mar 9
9   Mar 18
10  Mar 20
11   Apr 5
12   May 1
13   May 5
14   May 7
15   May 8
16  May 15
17  May 22
18   Jun 6
19  Jun 13
20  Jun 21
21  Jul 17
22  Aug 15
23  Sep 23
24  Sep 23
25  Sep 24
26  Sep 25
27  Sep 26
28   Oct 1
29   Oct 3
30   Oct 9
31  Oct 31
32  Dec 21
33  Dec 24
34  Dec 25
35  Dec 31

In [46]:
finalresult = pd.concat([df3,df], axis=1)

In [47]:
finalresult

      date    Weekday                   Holiday Name      Holiday Type
0    Jan 1     Monday                 New Year's Day  National holiday
1    Feb 9     Friday     2018 Winter Olympics start        Observance
2   Feb 14  Wednesday                Valentine's Day        Observance
3   Feb 15   Thursday                Seollal Holiday  National holiday
4   Feb 16     Friday                        Seollal  National holiday
5   Feb 17   Saturday                Seollal Holiday  National holiday
6   Feb 25     Sunday       2018 Winter Olympics end        Observance
7    Mar 1   Thursday      Independence Movement Day  National holiday
8    Mar 9     Friday  2018 Winter Paralympics start        Observance
9   Mar 18     Sunday    2018 Winter Paralympics end        Observance
10  Mar 20    Tuesday                  March equinox            Season
11   Apr 5   Thursday                      Arbor Day        Observance
12   May 1    Tuesday                      Labor Day      Bank Holiday
13   May 5   Saturday                 Children's Day  National holiday
14   May 7     Monday        Children's Day observed  National holiday
15   May 8    Tuesday                   Parents' Day        Observance
16  May 15    Tuesday                  Teacher's Day        Observance
17  May 22    Tuesday              Buddha's Birthday  National holiday
18   Jun 6  Wednesday                   Memorial Day  National holiday
19  Jun 13  Wednesday             Local Election Day  National holiday
20  Jun 21   Thursday                  June Solstice            Season
21  Jul 17    Tuesday               Constitution Day        Observance
22  Aug 15  Wednesday                 Liberation Day  National holiday
23  Sep 23     Sunday              September equinox            Season
24  Sep 23     Sunday                Chuseok Holiday  National holiday
25  Sep 24     Monday                        Chuseok  National holiday
26  Sep 25    Tuesday                Chuseok Holiday  National holiday
27  Sep 26  Wednesday                Chuseok Holiday  National holiday
28   Oct 1     Monday               Armed Forces Day        Observance
29   Oct 3  Wednesday        National Foundation Day  National holiday
30   Oct 9    Tuesday       Hangeul Proclamation Day  National holiday
31  Oct 31  Wednesday                      Halloween        Observance
32  Dec 21     Friday              December Solstice            Season
33  Dec 24     Monday                  Christmas Eve        Observance
34  Dec 25    Tuesday                  Christmas Day  National holiday
35  Dec 31     Monday                 New Year's Eve        Observance

In [48]:
resultname2 = 'KOPO_PY_FINAL_성한빈'
finalresult.to_sql(resultname2,SaveEngine,if_exists='replace',index=False)

In [49]:
finalresult

      date    Weekday                   Holiday Name      Holiday Type
0    Jan 1     Monday                 New Year's Day  National holiday
1    Feb 9     Friday     2018 Winter Olympics start        Observance
2   Feb 14  Wednesday                Valentine's Day        Observance
3   Feb 15   Thursday                Seollal Holiday  National holiday
4   Feb 16     Friday                        Seollal  National holiday
5   Feb 17   Saturday                Seollal Holiday  National holiday
6   Feb 25     Sunday       2018 Winter Olympics end        Observance
7    Mar 1   Thursday      Independence Movement Day  National holiday
8    Mar 9     Friday  2018 Winter Paralympics start        Observance
9   Mar 18     Sunday    2018 Winter Paralympics end        Observance
10  Mar 20    Tuesday                  March equinox            Season
11   Apr 5   Thursday                      Arbor Day        Observance
12   May 1    Tuesday                      Labor Day      Bank Holiday
13   May 5   Saturday                 Children's Day  National holiday
14   May 7     Monday        Children's Day observed  National holiday
15   May 8    Tuesday                   Parents' Day        Observance
16  May 15    Tuesday                  Teacher's Day        Observance
17  May 22    Tuesday              Buddha's Birthday  National holiday
18   Jun 6  Wednesday                   Memorial Day  National holiday
19  Jun 13  Wednesday             Local Election Day  National holiday
20  Jun 21   Thursday                  June Solstice            Season
21  Jul 17    Tuesday               Constitution Day        Observance
22  Aug 15  Wednesday                 Liberation Day  National holiday
23  Sep 23     Sunday              September equinox            Season
24  Sep 23     Sunday                Chuseok Holiday  National holiday
25  Sep 24     Monday                        Chuseok  National holiday
26  Sep 25    Tuesday                Chuseok Holiday  National holiday
27  Sep 26  Wednesday                Chuseok Holiday  National holiday
28   Oct 1     Monday               Armed Forces Day        Observance
29   Oct 3  Wednesday        National Foundation Day  National holiday
30   Oct 9    Tuesday       Hangeul Proclamation Day  National holiday
31  Oct 31  Wednesday                      Halloween        Observance
32  Dec 21     Friday              December Solstice            Season
33  Dec 24     Monday                  Christmas Eve        Observance
34  Dec 25    Tuesday                  Christmas Day  National holiday
35  Dec 31     Monday                 New Year's Eve        Observance

In [3]:
## url 변수 담기 
resp = requests.get('https://www.timeanddate.com/holidays/south-korea/')

resp.encoding='utf-8'
html = resp.text
bs = bs4.BeautifulSoup(html,'html.parser') 

# html 부분구조 가져오기
columns=bs.select('thead > tr.head > th.sep')
columns

[<th class="sep" rowspan="2">Weekday</th>,
 <th class="sep" rowspan="2">Holiday Name</th>,
 <th class="sep" rowspan="2">Holiday Type</th>]

In [4]:
contents=bs.select('tbody > tr')

In [5]:
contents

[<tr class="c0" id="tr0"><th class="nw">1월 1일</th><td class="nw">화요일</td><td><a href="/holidays/south-korea/new-year-day">New Year's Day</a></td><td>Public Holiday</td></tr>,
 <tr class="c1" id="tr1"><th class="nw">2월 4일</th><td class="nw">월요일</td><td><a href="/holidays/south-korea/seollal-holiday-1">Seollal Holiday</a></td><td>Public Holiday</td></tr>,
 <tr class="c0" id="tr2"><th class="nw">2월 5일</th><td class="nw">화요일</td><td><a href="/holidays/south-korea/seollal-holiday-2">Seollal</a></td><td>Public Holiday</td></tr>,
 <tr class="c1" id="tr3"><th class="nw">2월 6일</th><td class="nw">수요일</td><td><a href="/holidays/south-korea/seollal-holiday-3">Seollal Holiday</a></td><td>Public Holiday</td></tr>,
 <tr class="c0" id="tr4"><th class="nw">2월 14일</th><td class="nw">목요일</td><td><a href="/holidays/south-korea/valentines-day">Valentine's Day</a></td><td>Observance</td></tr>,
 <tr class="c1" id="tr5"><th class="nw">3월 1일</th><td class="nw">금요일</td><td><a href="/holidays/south-korea/independence-movement-day">Independence Movement Day</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr6"><th class="nw">3월 21일</th><td class="nw">목요일</td><td><a href="/calendar/march-equinox.html">March Equinox</a></td><td>Season</td></tr>,
 <tr class="c1" id="tr7"><th class="nw">4월 5일</th><td class="nw">금요일</td><td><a href="/holidays/south-korea/arbor-day">Arbor Day</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr8"><th class="nw">5월 1일</th><td class="nw">수요일</td><td><a href="/holidays/south-korea/labor-day">Labor Day</a></td><td>Bank Holiday</td></tr>,
 <tr class="c1" id="tr9"><th class="nw">5월 5일</th><td class="nw">일요일</td><td><a href="/holidays/south-korea/childrens-day">Children's Day</a></td><td>Public Holiday</td></tr>,
 <tr class="c0" id="tr10"><th class="nw">5월 6일</th><td class="nw">월요일</td><td><a href="/holidays/south-korea/childrens-day">Children's Day observed</a></td><td>Public Holiday</td></tr>,
 <tr class="c1" id="tr11"><th class="nw">5월 8일</th><td class="nw">수요일</td><td><a href="/holidays/south-korea/parents-day">Parents' Day</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr12"><th class="nw">5월 12일</th><td class="nw">일요일</td><td><a href="/holidays/south-korea/buddha-birthday">Buddha's Birthday</a></td><td>Public Holiday</td></tr>,
 <tr class="c1" id="tr13"><th class="nw">5월 15일</th><td class="nw">수요일</td><td><a href="/holidays/south-korea/teachers-day">Teacher's Day</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr14"><th class="nw">6월 6일</th><td class="nw">목요일</td><td><a href="/holidays/south-korea/memorial-day">Memorial Day</a></td><td>Public Holiday</td></tr>,
 <tr class="c1" id="tr15"><th class="nw">6월 22일</th><td class="nw">토요일</td><td><a href="/calendar/june-solstice.html">June Solstice</a></td><td>Season</td></tr>,
 <tr class="c0" id="tr16"><th class="nw">7월 17일</th><td class="nw">수요일</td><td><a href="/holidays/south-korea/constitution-day">Constitution Day</a></td><td>Observance</td></tr>,
 <tr class="c1" id="tr17"><th class="nw">8월 15일</th><td class="nw">목요일</td><td><a href="/holidays/south-korea/liberation-day">Liberation Day</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr18"><th class="nw">9월 12일</th><td class="nw">목요일</td><td><a href="/holidays/south-korea/mid-autumn-festival-day-1">Chuseok Holiday</a></td><td>Public Holiday</td></tr>,
 <tr class="c1" id="tr19"><th class="nw">9월 13일</th><td class="nw">금요일</td><td><a href="/holidays/south-korea/mid-autumn-festival-day-2">Chuseok</a></td><td>Public Holiday</td></tr>,
 <tr class="c0" id="tr20"><th class="nw">9월 14일</th><td class="nw">토요일</td><td><a href="/holidays/south-korea/mid-autumn-festival-day-3">Chuseok Holiday</a></td><td>Public Holiday</td></tr>,
 <tr class="c1" id="tr21"><th class="nw">9월 23일</th><td class="nw">월요일</td><td><a href="/calendar/september-equinox.html">September Equinox</a></td><td>Season</td></tr>,
 <tr class="c0" id="tr22"><th class="nw">10월 1일</th><td class="nw">화요일</td><td><a href="/holidays/south-korea/armed-forces-day">Armed Forces Day</a></td><td>Observance</td></tr>,
 <tr class="c1" id="tr23"><th class="nw">10월 3일</th><td class="nw">목요일</td><td><a href="/holidays/south-korea/national-foundation-day">National Foundation Day</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr24"><th class="nw">10월 9일</th><td class="nw">수요일</td><td><a href="/holidays/south-korea/hangeul-day">Hangeul Proclamation Day</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr25"><th class="nw">10월 31일</th><td class="nw">목요일</td><td><a href="/holidays/south-korea/halloween">Halloween</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr26"><th class="nw">12월 22일</th><td class="nw">일요일</td><td><a href="/calendar/december-solstice.html">December Solstice</a></td><td>Season</td></tr>,
 <tr class="c1" id="tr27"><th class="nw">12월 24일</th><td class="nw">화요일</td><td><a href="/holidays/south-korea/christmas-eve">Christmas Eve</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr28"><th class="nw">12월 25일</th><td class="nw">수요일</td><td><a href="/holidays/south-korea/christmas-day">Christmas Day</a></td><td>Public Holiday</td></tr>,
 <tr class="c1" id="tr29"><th class="nw">12월 31일</th><td class="nw">화요일</td><td><a href="/holidays/south-korea/new-year-eve">New Year's Eve</a></td><td>Observance</td></tr>]